﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div>
       @ViewBag.DateandTime <br />
    </div>

    <div>
        <a asp-action="SupInfo">
            Info on supervisors
        </a>
    </div>
</body>
</html>
