﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupInfo</title>
</head>
<body>
    <div>
        Our supervisors are: <br />

        @foreach (Supervisor supervisor in Model)
        {
            @: Name: @supervisor.Name
            @: Id: @supervisor.Id <br />
        }
    </div>
</body>
</html>
